<div class="row">
  <div class="col-5">
    <button class="btn btn-success content-container">New Recipe</button>{{" "}}
    <button class="btn btn-danger content-container" (click)="resetSelectedRecipe()" >Clear Selected</button>
    <hr/>
    <app-recipe-item
      *ngFor="let recipe of recipes; let i = index"
      [recipe]="recipe"
      [index]="i"
      (recipeSelected)="onRecipeSelected($any($event))"
    ></app-recipe-item>
  </div>

  <div class="col-7">
    <div class="content-container">
      <ng-template #selectRecipeMessage>
        <!-- Render message if no recipe is selected -->
        Please select a recipe
      </ng-template>
    </div>
    <ng-container
      *ngIf="selectedRecipeIndex !== null; else selectRecipeMessage"
    >
      <!-- Render Recipe Detail component -->
      <app-recipe-detail
        [recipe]="recipes[selectedRecipeIndex]"
      ></app-recipe-detail>
    </ng-container>
  </div>
</div>
